<div class="container py-4">
  <div class="row align-items-center">
    <div class="col-md-4">
      
<owl-carousel-o [options]="customOptions" class="w-100">
  <ng-container *ngFor="let slide of productDetails.images">
    <ng-template carouselSlide>
      <img [src]="slide" >
    </ng-template>
  </ng-container>
</owl-carousel-o>

    </div>
    <div class="col-md-8">
      <div class="content">
        <h2>{{ productDetails.title }}</h2>
        <p class="text-muted">{{ productDetails.description }}</p>
        <div class="d-flex justify-content-between mb-3">
          <span>{{productDetails.price}} EGP</span>
          <div>
            <i class="fa fa-star rating-color"></i>
              {{productDetails.ratingsAverage}}
          </div>
        </div>
        <a (click)="addToWishlist(productDetails.id)" class="text-white p-5 cursor-pointer">
          <i class="fa-regular fa-heart fs-4 text-danger"></i>
        </a>
        <button (click)="addToCart(productDetails.id)" class="btn bg-main mb-2 mt-3  w-100 text-white">Add</button>
        <button (click)="goToCart()" class="btn btn-outline-success w-100 ">
          Go to cart  <i class="ml-1 fa-solid fa-cart-shopping"></i>
        </button>

      </div>
    </div>
  </div>
</div>
